@import "reset.min.less";

html {
  font-size: 100px; /*640PX设计稿尺寸中：1REM=100PX*/
}

html, body {
  position: relative;
  z-index: -4;
  height: 100%;
  overflow: hidden;
  background: #F4F4F4;
  font-family: "Microsoft JhengHei";
}

.mainBox {
    position: relative;
    z-index: -3;
    margin: 0 auto;
    max-width: 640px;
    height: 100%;
    background: #FFF;
}
  
.loadingBox, .phoneBox{
    display: none;
    position: relative;
    height: 100%;
    overflow: hidden;
}

/* loadingBox */
.loadingBox{
    background: #000;

    .title{
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -2.2rem;
        height: 1.4rem;
        width: 100%;
        color: #fff;
        text-align: center;

        h1{
            height: .75rem;
            font-size: .5rem;
        }

        h2{
            height: .45rem;
            letter-spacing: .04rem;
            font-size: .26rem;
        }
    }

    .progress{
        position: absolute;
        left: 50%;
        top: 50%;
        margin: .85rem 0 0 -2.3rem;
        width: 4.6rem;
        height: .3rem;
        background: #FFF;

        .cur{
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: -webkit-linear-gradient(left bottom, #5CB85C 0%, #5CB85C 25%, #74C274 25%, #74C274 50%, #5CB85C 50%, #5CB85C 75%, #74C274 75%, #74C274 100%);
            background: linear-gradient(left bottom, #5CB85C 0%, #5CB85C 25%, #74C274 25%, #74C274 50%, #5CB85C 50%, #5CB85C 75%, #74C274 75%, #74C274 100%);
            background-size: .3rem .3rem;//需摆在background属性后面才生效
            animation: loadingMove .5s linear 0s infinite both;
            
            /*给CURRENT设置一个过渡动画:当我们在JS中控制它的宽度在变化的时候,给其一个平稳的过渡动画效果(而不是生硬的改变)*/
            transition: .3s;
        }
    }
}

@keyframes loadingMove {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -.3rem;
    }
}

/* phoneBox */
.phoneBox{
    display: block;
    z-index: -2;
    background-size: cover;
    background: url(../images/zf_phoneBg.jpg);
    text-align: center;
    color: #FFF;

    h2{
        font-size: .5rem;
        margin-top: 1rem;
    }

    h3{ 
        display: none;
        margin-top: .2rem;
        line-height: .3rem;
        font-size: .3rem;
        
        letter-spacing: .05rem;
    }

    .answer{
        position: absolute;
        bottom: .3rem;
        left: 50%;
        margin-left: -2.6rem;
        width: 5.2rem;
        height: 3.6rem;
        background: url(../images/zf_phoneListen.png) no-repeat;
        background-size: 100% 100%;

        .markMove {
            position: absolute;
            right: -.06rem;
            bottom: .48rem;
            z-index: -1;
            box-sizing: border-box;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
            border: .03rem solid #0F0;
            animation: answerMove 1s linear infinite both;
        }
    
        .markLink {
            .markMove; //=>把MARK-MOVE的样式继承过来使用
            z-index: 1;
            border: none;
            border-radius: 0;
            animation: none;
        }
    }

    .hang{
        position: absolute;
        bottom: .3rem;
        left: 50%;
        margin-left: -2.6rem;
        width: 5.2rem;
        height: 6.59rem;
        background: url('../images/zf_phoneDetail.png') no-repeat;
        background-size: 100% 100%;

        //=>初始位置是在PHONE的底部（看不见：溢出内容隐藏），当点击接听按钮后，控制它从底下出来即可（JS中改变样式）
        transform: translateY(6.89rem);
        transition: .3s;

        .markLink {
            position: absolute;
            bottom: .26rem;
            left: 50%;
            z-index: 1;
            margin-left: -.8rem;
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}
@keyframes answerMove {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(0);
    }
  }
